.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
    height: initial;
  }
}
