.product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  max-width: 170px;
  width: 100%;

  &_access {
    background-color: aqua;
  }
}

.name {
  font-weight: 400;
  font-size: 20px;
}

.type {
  font-weight: 400;
  font-size: 14px;
}

.price {
  font-weight: 400;
  font-size: 16px;
}

.id {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
